= simple_form_for @article, html: { multipart: true } do |f|
  = image_tag @article.photo, class: 'index-photo--edit' if @article.photo?
  = f.input :photo
  = f.input :title, placeholder: 'Title of your art'
  = f.input :body, placeholder: 'Feel free to write whatever you like', input_html: { rows: 10 }
  = f.button :submit
